:root {
    --active-text-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --ordinary-text-color: #212121;
    --description-text-color: #757575;
    --main-dark-background-color: #2F303A;
    --white-background-color: #FFFFFF;
    --portfolio-background-color: #E5E5E5;
    --mailto-color: rgba(255, 255, 255, 0.6);
    --button-portfolio-color: #F5F4FA;
}

body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}


.header {
background-color: var(--white-background-color);
}

.header-link, 
.footer-link {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    box-align: Left;
    vertical-align: Top;
    letter-spacing: 3%;
    color: var(--active-text-color);
}

.nav-site .link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--ordinary-text-color);
}

.nav-site .link:hover,
.nav-site .link:focus {
    text-decoration: none;
    color: var(--active-text-color);
}

.nav-site .active {
    text-decoration: none;
    color: var(--active-text-color);
}

.list {
    list-style: none;
}

.header-list .link {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--description-text-color);    
}

.header-list .link:hover,
.header-list .link:focus {
    color: var(--active-text-color);
}

.hero-heading {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--white-background-color);
}

.hero {
    background-color: var(--main-dark-background-color);
}

.visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
   }

.definition-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ordinary-text-color);
}

.definition-about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ordinary-text-color);
}

.team {
    background-color: var(--button-portfolio-color);
}

.box {
    background-color: var(--white-background-color);
    width: 270px;
}

.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--ordinary-text-color);
}

.team-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}

.footer {
    background-color: var(--main-dark-background-color);
}

.address {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
/* or 171% */
    letter-spacing: 0.03em;
    color: var(--white-background-color);
   } 

.address:hover,
.address:focus {
    color: var(--active-text-color);
}

.address-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--mailto-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-text-color);
}

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--ordinary-text-color);
    background-color: var(--button-portfolio-color);
    border: none;
}

.button-current {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-background-color);
    background-color: var(--active-text-color);
    border: none;
}

.button:hover,
.button:focus {
    color: var(--white-background-color);
    background-color: var(--active-text-color);
}

.portfolio-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--ordinary-text-color);
}

.portfolio--about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
